.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.swiper {
  width: 973px;
  height: fit-content;
  margin-bottom: 150px;
}
