.container {
  width: 120px;
  box-sizing: border-box;
  padding: 1px;
  height: 88px;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
}
.arrowsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mobile {
  &Container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50px;
  }
  &PageCounter {
    align-self: flex-start;
    height: 14px;
    width: fit-content;
    margin-left: 20px;
  }
  &PaginatorContainer {
    align-self: center;
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    height: 6px;
  }
  &ArrowsContainer {
    align-self: flex-start;
    height: 25px;
    width: 59px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
