.container {
  width: 120px;

  box-sizing: border-box;
  padding: 1px;
  height: 88px;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.arrowsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
