.container {
  width: 120px;

  box-sizing: border-box;
  padding: 1px;
  height: 88px;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
}
.arrowsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
