.container {
  width: 320px;
  height: 135px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 800px) {
    height: 130px;
    width: 280px;
    gap: 10px;
  }
  @media (max-width: 600px) {
    height: 120px;
    width: 280px;
  }
  @media (max-width: 480px) {
    height: 116px;
    width: 270px;
  }
  @media (max-width: 410px) {
    height: 116px;
    gap: 0;
    width: 200px;
  }
  @media (max-width: 360px) {
    height: 114px;
  }
  @media (max-width: 330px) {
    height: 114px;
  }
}

.title {
  width: fit-content;
  height: 30px;
  font-size: 25px;
  line-height: 120%;
  color: #3877ee;
  font-family: 'BebasNeue';
  @media (max-width: 1440px) {
    height: 30px;
  }
  @media (max-width: 1220px) {
    height: 30px;
  }
  @media (max-width: 1050px) {
    height: 29px;
  }
  @media (max-width: 800px) {
    height: 27px;
    font-size: 22px;
  }
  @media (max-width: 600px) {
    height: 25px;
    font-size: 20px;
  }
  @media (max-width: 480px) {
    height: 23px;
    font-size: 21px;
  }
  @media (max-width: 410px) {
    height: 21px;
    font-size: 19px;
  }
  @media (max-width: 360px) {
    height: 19px;
    font-size: 16px;
  }
  @media (max-width: 330px) {
    height: 19px;
    font-size: 16px;
  }
}

.text {
  width: 100%;
  min-width: 320px;
  text-align: left;
  font-size: 20px;
  span {
    font-size: inherit;
    line-height: 28px;
    color: #42567a;
    font-weight: 200;
  }

  @media (max-width: 800px) {
    font-size: 18px;
    min-width: 250px;
    span {
      line-height: 26px;
    }
  }
  @media (max-width: 600px) {
    font-size: 18px;
    min-width: 250px;
  }
  @media (max-width: 480px) {
    font-size: 17px;
    min-width: 250px;
    span {
      line-height: 25px;
    }
  }
  @media (max-width: 410px) {
    font-size: 16px;
    min-width: 200px;
    span {
      line-height: 24px;
    }
  }
  @media (max-width: 360px) {
    font-size: 14px;
    span {
      line-height: 22px;
    }
  }
  @media (max-width: 330px) {
    font-size: 14px;
  }
}
