.container {
  all: unset;
  width: fit-content;
  height: fit-content;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.right {
  transform: rotate(0deg);
}

.left {
  transform: rotate(180deg);
}
