.container {
  width: 1440px;
  box-sizing: border-box;
  height: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 20px;
}

.innerContainer {
  overflow: hidden;
  width: 92%;
}
.swiper {
  width: 98%;
}
