.container {
  width: 1440px;
  box-sizing: border-box;
  height: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 20px;
  @media (max-width: 1440px) {
    width: 1200px;
  }
  @media (max-width: 1220px) {
    width: 1000px;
  }
  @media (max-width: 1050px) {
    width: 800px;
  }
  @media (max-width: 800px) {
    width: 600px;
  }
  @media (max-width: 600px) {
    width: 450px;
  }
  @media (max-width: 480px) {
    width: 400px;
  }
  @media (max-width: 410px) {
    width: 350px;
  }
  @media (max-width: 360px) {
    width: 330px;
  }
  @media (max-width: 330px) {
    width: 315px;
  }
}

.innerContainer {
  overflow: hidden;
  width: 92%;
}
.swiper {
  width: 98%;
}
