.container {
  width: 1440px;
  box-sizing: border-box;
  height: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.innerContainer {
  overflow: hidden;
  width: 100%;
}
.swiper {
  width: 98%;
}
