.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 14px;
  color: #42567a;
  font-weight: 400;
  box-sizing: border-box;
  padding: 2px;
  span {
    line-height: 14px;
    display: inline-block;
    height: 18px;
  }
}
