.container {
  width: fit-content;
  min-width: 431px;
  height: 134px;
  box-sizing: border-box;
  align-self: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.markLine {
  height: 100%;
  width: 5px;
  background: linear-gradient(to bottom, #3877ee, #ef5da8);
  box-shadow: 0 4px 4px 0 rgba(#000000, 0.25);
}

.title {
  width: 353px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  vertical-align: bottom;
  span {
    font-family: sans-serif;
    font-weight: bold;
    line-height: 120%;
    font-size: 56px;
    letter-spacing: -1%;
    color: #42567a;
  }
}
