.mainContainer {
  width: 1440px;
  height: 1080px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url('./assets/back.svg');
  background-position: 0, 0;
  background-size: contain;
}

.dotsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.dot {
  cursor: pointer;
  pointer-events: auto;
}

.innerContainer {
  position: relative;
  z-index: 1;
  height: 1080px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 100px;
  pointer-events: auto;
}
