.mainContainer {
  width: 1440px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url('./assets/back.svg');
  background-position: 0, 0;
  background-size: contain;
}

.innerContainer {
  height: 1080px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 100px;
}
