@import './fonts.scss';

body {
  font-family: 'PTSans';
  background: #e5e5e5;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
