.container {
  all: unset;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);

  &:hover {
    box-shadow: 0 0 35px 2px rgba(56, 119, 238, 0.2);
  }
}

.empty {
  width: 40px;
  height: 40px;
}
